@import url("./standard.css");

/* Ease in for the left menu */
@keyframes easeInMenu {
    from {
        width: 0;
        left: var(--collapsedMenuWidth);
    }
    to {
        width: var(--menuWidth);
        left: 0;
        margin-right: 0;
    }
}

@-moz-keyframes easeInMenu {
    from {
        width: 0;
        left: var(--collapsedMenuWidth);
    }
    to {
        width: var(--menuWidth);
        left: 0;
        margin-right: 0;
    }
}

@-webkit-keyframes easeInMenu {
    from {
        width: 0;
        left: var(--collapsedMenuWidth);
    }
    to {
        width: var(--menuWidth);
        left: 0;
        margin-right: 0;
    }
}

@-o-keyframes easeInMenu {
    from {
        width: 0;
        left: var(--collapsedMenuWidth);
    }
    to {
        width: var(--menuWidth);
        left: 0;
        margin-right: 0;
    }
}

/* Ease out for the left menu */
@keyframes easeOutMenu {
    from {
        width: var(--menuWidth);
        left: 0;
        margin-right: 0;
    }
    to {
        width: 0;
        left: var(--collapsedMenuWidth);
    }
}

@-moz-keyframes easeOutMenu {
    from {
        width: var(--menuWidth);
        left: 0;
        margin-right: 0;
    }
    to {
        width: 0;
        left: var(--collapsedMenuWidth);
    }
}

@-webkit-keyframes easeOutMenu {
    from {
        width: var(--menuWidth);
        left: 0;
        margin-right: 0;
    }
    to {
        width: 0;
        left: var(--collapsedMenuWidth);
    }
}

@-o-keyframes easeOutMenu {
    from {
        width: var(--menuWidth);
        left: 0;
        margin-right: 0;
    }
    to {
        width: 0;
        left: var(--collapsedMenuWidth);
    }
}

/* Zoom and fade in for the popup choice */
@keyframes zoomFadeIn {
    from {
        transform: scale(0.651354131);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@-moz-keyframes zoomFadeIn {
    from {
        transform: scale(0.651354131);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes zoomFadeIn {
    from {
        transform: scale(0.651354131);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@-o-keyframes zoomFadeIn {
    from {
        transform: scale(0.651354131);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Dezoom and fade out for the popup choice */
@keyframes dezoomFadeOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.651354131);
        opacity: 0;
    }
}

@-moz-keyframes dezoomFadeOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.651354131);
        opacity: 0;
    }
}

@-webkit-keyframes dezoomFadeOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.651354131);
        opacity: 0;
    }
}

@-o-keyframes dezoomFadeOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.651354131);
        opacity: 0;
    }
}