@import url("./standard.css");

html, body, #main {
    margin: 0;
    height: 100%;
    font-size: 12px;
    color: var(--fDark);
    background-color: var(--bgGrey);
}

#main {
    height: 100vh;
}

body, h1, h2, h3 {
    font-weight: 300
}

button, input {
    font: initial;
}


@font-face {
    font-family: 'mplStreamFont';
    src: url('../assets/fonts/mplStreamFont.ttf');
    font-weight: normal;
    font-style: normal;
}
